* {
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 1300px;
  margin: 20px auto;
}
canvas {
  float: left;
  width: 970px;
}
.controls {
  float: right;
  width: 330px;
}
.controls__move {
  width: 60px;
  text-align: center;
}
.moves {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
.moves__move {
  display: block;
  padding: 5px 0;
}
.moves__move.moves__move_current {
  background: #78b370;
}
.moves__move.moves__move_player {
  font-weight: bold;
}
.moves-container {
  margin-top: 10px;
}
.scores {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}
.scores__score {
  display: block;
}
.current-player {
  padding: 0 10px;
  margin-left: 10px;
}